## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
       
     - Create a Jupyter Notebook

     - Insert code and markdown cells

     - Share your notebook through GitHub

Some of the popular languages that Data Scientists use are:

             1. R
             2. SQL
             3. Julia
             4. Scala

Some of the commonly used libraries used by Data Scientists include:

              1. NumPy
              2. Pandas
              3. Matpltlib
              4. TensorFlow
              5. Scikit-learn

| Data Science Tools |
  ------------------
| IBM Watson Studio  |
| RStudio |
| Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours:.2f} hours.")

200 minutes is equal to 3.33 hours.

## Author
Arsene Senga